@font-face {
    font-family: 'RuposhiANSIV1';
    src: url('../webfont/ruposhiANSIV1.woff2') format('woff2'),
        url('../webfont/ruposhiANSIV1.woff') format('woff');
}
@font-face {
    font-family: 'RuposhiANSIV2';
    src: url('../webfont/ruposhiANSIV2.woff2') format('woff2'),
        url('../webfont/ruposhiANSIV2.woff') format('woff');
}
@font-face {
    font-family: 'RuposhiANSIV3';
    src: url('../webfont/ruposhiANSIV3.woff2') format('woff2'),
        url('../webfont/ruposhiANSIV3.woff') format('woff');
}
@font-face {
    font-family: 'RuposhiUnicode';
    src: url('../webfont/ruposhiUnicode.woff2') format('woff2'),
        url('../webfont/ruposhiUnicode.woff') format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(icon/MaterialIcons-Regular.woff2) format('woff2'),
         url(icon/MaterialIcons-Regular.woff) format('woff'),
         url(icon/MaterialIcons-Regular.ttf) format('truetype');
 }
 
 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
 }

body {
    text-align: center;
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
    -o-user-select:none;
}

.fullwidth {
    width: calc(100% - 20px);
}
.fullheight {
    height: 140px;
}
.fullheightalt {
    height: 90px;
}
.textboxCont {
    position: relative; 
    width: calc(100% - 40px);
    padding: 20px; 
}
.buttonCont {
    position: absolute; 
    bottom: 60px; 
    right: 40px;
}
.textboxCustom {
    width: 100%; 
    resize: none;
}
.convertIcon {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    transform: rotate(-90deg);
}

.toast{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(0,0,0,0.5);
    color: #FFFFFF;
    text-align: center;
    border-radius: 30px;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
.toastShow{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@media screen and (min-height: 410px) {
	.fullheight {
        height: 140px;
    }
    .fullheightalt {
        height: 90px;
    }
}
@media screen and (min-height: 480px) {
	.fullheight {
        height: 160px;
    }
    .fullheightalt {
        height: 110px;
    }
}
@media screen and (min-height: 490px) {
	.fullheight {
        height: 170px;
    }
    .fullheightalt {
        height: 120px;
    }
}
@media screen and (min-height: 500px) {
	.fullheight {
        height: 180px;
    }
    .fullheightalt {
        height: 130px;
    }
}
@media screen and (min-height: 530px) {
	.fullheight {
        height: 190px;
    }
    .fullheightalt {
        height: 140px;
    }
}
@media screen and (min-height: 540px) {
	.fullheight {
        height: 200px;
    }
    .fullheightalt {
        height: 150px;
    }
}

@media screen and (min-height: 550px) {
	.fullheight {
        height: 210px;
    }
    .fullheightalt {
        height: 160px;
    }
}
@media screen and (min-height: 570px) {
	.fullheight {
        height: 220px;
    }
    .fullheightalt {
        height: 170px;
    }
}
@media screen and (min-height: 590px) {
	.fullheight {
        height: 230px;
    }
    .fullheightalt {
        height: 180px;
    }
}

@media screen and (min-height: 610px) {
	.fullheight {
        height: 240px;
    }
    .fullheightalt {
        height: 190px;
    }
}
@media screen and (min-height: 630px) {
	.fullheight {
        height: 250px;
    }
    .fullheightalt {
        height: 200px;
    }
}
@media screen and (min-height: 650px) {
	.fullheight {
        height: 260px;
    }
    .fullheightalt {
        height: 210px;
    }
}
@media screen and (min-height: 670px) {
	.fullheight {
        height: 270px;
    }
    .fullheightalt {
        height: 220px;
    }
}
@media screen and (min-height: 690px) {
	.fullheight {
        height: 280px;
    }
    .fullheightalt {
        height: 230px;
    }
}
@media screen and (min-height: 710px) {
	.fullheight {
        height: 290px;
    }
    .fullheightalt {
        height: 240px;
    }
}
@media screen and (min-height: 730px) {
	.fullheight {
        height: 300px;
    }
    .fullheightalt {
        height: 250px;
    }
}
@media screen and (min-height: 750px) {
	.fullheight {
        height: 310px;
    }
    .fullheightalt {
        height: 260px;
    }
}
@media screen and (min-height: 770px) {
	.fullheight {
        height: 320px;
    }
    .fullheightalt {
        height: 270px;
    }
}